
/* Predefined names */
/* body{
    color:brown;
    background-color: beige;
} */

/* RGB Values */
    /* body{
        color: rgb(153, 97, 59);
        background-color: rgb(186, 240, 240);
    } */

/* Hex Codes */
/* body{
    color:#99613b;
    background-color: #baf0f0;
} */

/* body{
    background-color: #1d9bf0;
} */








/* HSL format */
body{
    background-color: hsl(204, 88%, 53%);
}

div{
    padding: 20px;
    background-color: khaki;
}


p{
    /* position: relative;
    top:-40px; */

    padding: 20px;
    background-color: crimson;
    /* opacity: 0.7; */
    /* color:rgba(240,230,140, 0.5); */
    color: hsla(54, 77%, 75%, 0.5);
}
















