p{
    /* border: 1px solid black; */
    /* padding:15px; */
}

.special{
    /* background-color: antiquewhite; */
     /* position: relative;
    top: 100px; */
    /*left: -20px; */
    /* bottom: 50px;
    right: 50px; */
}

.special{  
    /* position: absolute;
    top:0px; */
    /* bottom: 0px; */
    /* z-index: -15; */
}









/* 
.col-layout{
    padding: 1%;
    margin: 1%;    
    width: 29%;
    float: left;
}
.clear {
    clear: both;
} */



/* 
.col1of2, .col2of2{    
    float: left;
}
.col1of2{
    width: 80%;
}
.col2of2{
    width:15%;
} */





/* .special{
    position: fixed;
    top:-10px;
    left: -50px;
    z-index: -5;
}
 */






.container{
    /* height:400px;
    border: 1px solid red;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;  */
    /* flex-wrap: wrap; */
}

.special{
    /* align-self: flex-end; */
}


/* p{
    width: 250px;
} */
/* 
h1{
    float: left;
}

p{
    clear: both;
} */


.container-1{
    /* border: 1px solid red; */
    width: 70%;
    float: left;
    margin: 15px;
    padding:5px;
}


.container-2{
    /* border: 1px solid blue; */
    width: 25%;
    float: left;
    padding:5px;

}